:root {
  --content-text-color: #ffecd6;
  --content-link-color: #ffbd61;
  --content-visited-link-color: #fca23c;
  --article-background-color: #211735;
  --article-lighter-background-color: #281e3f;
  --article-border-color: #4e204c;
  --button-background-color: #12121a;
  --button-selected-background-color: var(--article-background-color);
  --button-top-border-color: #73374e;
  --button-left-border-color: var(--button-top-border-color);
  --button-bottom-border-color: #4e204c;
  --button-right-border-color: var(--button-bottom-border-color);
  --button-selected-border-color: #a24e53;
  --button-hover-top-border-color: #e77754;
  --button-hover-left-border-color: var(--button-hover-top-border-color);
  --button-hover-bottom-border-color: #a24e53;
  --button-hover-right-border-color: var(--button-hover-bottom-border-color);
  --button-hover-highlight-color: #ffc375;
  --toc-background-color: var(--button-background-color);
  --toc-border-color: var(--article-border-color);
  --toc-number-color: #f7b24280;
  --editor-tools-background-color: var(--article-lighter-background-color); 
  --editor-tools-border-color: var(--article-border-color);
  --editor-background-color: var(--button-background-color);
  --editor-number-line-color: #0006;
  --editor-file-delimiter-color: #ffecd680;
  --editor-file-parameter-color: #fcd399;
  --editor-file-color: var(--content-link-color);
  --site-notice-background-color: var(--toc-background-color);
  --category-links-background-color: var(--toc-background-color);
  --category-links-border-color: var(--article-border-color);
  --footer-background-color: var(--toc-background-color);
  --footer-border-color: var(--article-border-color);
  --tabber-background-color: var(--article-lighter-background-color);
  --tabber-border-color: var(--article-border-color);
  --table-header-color: #5a2251;
  --table-hover-color: #6b2a57;
}

body {
  background-color:var(--article-background-color);
}

.time-table-container {
  width:100%;
 /* overflow-x:auto; */
}

.time-table {
  display:table;
  text-align: center;
  overflow: hidden;
  overflow-x: scroll;
  margin:10px;
  color: #ffecd6;
  box-shadow:0 -2px var(--article-border-color),
             -2px 0 var(--article-border-color),
             2px 0 var(--article-border-color),
             0 2px var(--article-border-color),
             0 -2px 0 2px var(--article-border-color),
             2px 0 0 2px var(--article-border-color),
             -2px 0 0 2px var(--article-border-color),
             0 2px 0 2px var(--article-border-color);
  border-spacing:10px;
}

/* stickyness */
.time-table-container .time-table thead tr:nth-child(1) th:not(:hover) {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--article-lighter-background-color);
}

.time-table tr:not(:nth-child(1)) {
    height: 75px;
}

.time-table tr th {
  height: 20px;
  min-height: 60px;
  max-height: 75px;
  min-width: 60px;
}

.time-table tr td {
  box-shadow:-3px 0px var(--button-top-border-color),
             0px -3px var(--button-top-border-color),
             3px 0px var(--article-border-color),
             0px 3px var(--article-border-color);
  border-spacing:10px;
}

.time-table tbody tr:hover,
.time-table tbody tr:active {
  background-color: var(--table-hover-color);
}
.time-table td:not(:nth-child(1)), th:not(:nth-child(1)) {
  position: relative;
  min-width: 100px;
}
.time-table td:nth-child(1), th:nth-child(1){
  max-width: 2.5em;
  margin-left:10px;
}

/* Hover box for individual cell*/
.time-table td:hover,
.time-table td:active {
  box-shadow:-3px 0px var(--button-hover-top-border-color),
             0px -3px var(--button-hover-top-border-color),
             3px 0px var(--button-selected-border-color),
             0px 3px var(--button-selected-border-color);
  background-color: var(--button-background-color);
  border: 10px;
}

/* Hover for column */
.time-table td:hover::after,
.time-table thead th:not(th.FCKER):not(:empty):hover::after,
.time-table td:focus::after,
.time-table thead th:not(th.FCKER):not(:empty):focus::after,
.time-table td:active::after,
.time-table thead th:not(th.FCKER):not(:empty):active::after,
.time-table td:active::after,
.time-table thead th:not(th.FCKER):not(:empty):active::after { 
  overflow-y: hidden;
  content: '';  
  height: 10000px;
  left: 0;
  position: absolute;  
  top: -5000px;
  width: 100%;
  z-index: -1;
}

.time-table td:hover::after,
.time-table th:not(th.FCKER):hover::after,
.time-table td:active::after,
.time-table th:not(th.FCKER):active::after {
  background-color: var(--table-hover-color);
}

.time-table-class-name {
  color:var(--content-text-color);
  font-size: 3em;
  text-decoration: underline;
}

.lesson { 
    height: 125px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    box-sizing:content-box;
    justify-content: space-between;
    /* background-color: black;*/
}

.lesson-double {
    /*height: 120px;*/
}

.lesson-subject {
    font-weight: bold;
    flex-basis: 100%;
    text-align: center;
    /* background-color: blue; */
}

.lesson-teacher, .lesson-room {
    /*display: flex;
    align-self: end;*/
    /* background-color: green; */
}

.lesson-room {
   /* background-color: red;*/
}

.lesson-info {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: end;
    column-gap: 5px;
}
