:root {
  --content-text-color: #ffecd6;
  --content-link-color: #ffbd61;
  --content-visited-link-color: #fca23c;
  --article-background-color: #02203a;
  --article-lighter-background-color: #07253f;
  --article-border-color: #1d3953;
  --button-background-color: #12121a;
  --button-selected-background-color: var(--article-background-color);
  --button-top-border-color: #35516b;
  --button-left-border-color: var(--button-top-border-color);
  --button-bottom-border-color: #1d3953;
  --button-right-border-color: var(--button-bottom-border-color);
  --button-selected-border-color: #463d66;
  --button-hover-top-border-color: #664462;
  --button-hover-left-border-color: var(--button-hover-top-border-color);
  --button-hover-bottom-border-color: #463d66;
  --button-hover-right-border-color: var(--button-hover-bottom-border-color);
  --button-hover-highlight-color: #885572;
  --toc-background-color: var(--button-background-color);
  --toc-border-color: var(--article-border-color);
  --toc-number-color: #f7b24280;
  --editor-tools-background-color: var(--article-lighter-background-color); 
  --editor-tools-border-color: var(--article-border-color);
  --editor-background-color: var(--button-background-color);
  --editor-number-line-color: #0006;
  --editor-file-delimiter-color: #ffecd680;
  --editor-file-parameter-color: #fcd399;
  --editor-file-color: var(--content-link-color);
  --site-notice-background-color: var(--toc-background-color);
  --category-links-background-color: var(--toc-background-color);
  --category-links-border-color: var(--article-border-color);
  --footer-background-color: var(--toc-background-color);
  --footer-border-color: var(--article-border-color);
  --tabber-background-color: var(--article-lighter-background-color);
  --tabber-border-color: var(--article-border-color);
  --table-header-color: #273b58;
  --table-hover-color: #3a435b;
}