:root {
  --content-text-color: #fff4d9;
  --content-link-color: #ffbd61;
  --content-visited-link-color: #fca23c;
  --article-background-color: #1f1c26;
  --article-lighter-background-color: #292630;
  --article-border-color: #204e49;
  --button-background-color: #12121a;
  --button-selected-background-color: var(--article-background-color);
  --button-top-border-color: #375773;
  --button-left-border-color: var(--button-top-border-color);
  --button-bottom-border-color: #204e49;
  --button-right-border-color: var(--button-bottom-border-color);
  --button-selected-border-color: #a27a60;
  --button-hover-top-border-color: #e7c16d;
  --button-hover-left-border-color: var(--button-hover-top-border-color);
  --button-hover-bottom-border-color: #a27a60;
  --button-hover-right-border-color: var(--button-hover-bottom-border-color);
  --button-hover-highlight-color: #fdff91;
  --toc-background-color: var(--button-background-color);
  --toc-border-color: var(--article-border-color);
  --toc-number-color: #f7b24280;
  --editor-tools-background-color: var(--article-lighter-background-color); 
  --editor-tools-border-color: var(--article-border-color);
  --editor-background-color: var(--button-background-color);
  --editor-number-line-color: #0006;
  --editor-file-delimiter-color: #ffecd680;
  --editor-file-parameter-color: #fcd399;
  --editor-file-color: var(--content-link-color);
  --site-notice-background-color: var(--toc-background-color);
  --category-links-background-color: var(--toc-background-color);
  --category-links-border-color: var(--article-border-color);
  --footer-background-color: var(--toc-background-color);
  --footer-border-color: var(--article-border-color);
  --tabber-background-color: var(--article-lighter-background-color);
  --tabber-border-color: var(--article-border-color);
  --table-header-color: #307870;
  --table-hover-color: #52398c;
}